@import "../../styles/Theme.scss";

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                LANDING PAGE                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.LandingPage {
  position: relative;
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                     ONE                                    */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.One {
  @include OneBG1;

  padding: 169px 0 357px 64px;

  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 140.5px 0;
  }

  .title {
    @include h1;
    max-width: 748px;

    span {
      background: linear-gradient(to right, #7f00ff, #fdeff9);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .subTitle {
    @include p;
    opacity: 0.8;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 18px;
  }

  .get {
    background-color: #eeebff;
    color: #0d0d0d;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 12px 19px 16px 21px;
  }

  .learn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}
