@import "../../styles/Theme.scss";

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                LANDING PAGE                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.LandingPage {
  position: relative;
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                     ONE                                    */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.One {
  @include OneBG1;

  padding: 169px 0 757px 64px;
  width: 100%;

  .main {
    max-width: 730px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 140.5px 0;
  }

  .title {
    @include h1;

    span {
      background: linear-gradient(to right, #7f00ff, #fdeff9);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .subTitle {
    @include p;
    opacity: 0.8;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 18px;
  }

  .get {
    background-color: #eeebff;
    color: #0d0d0d;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 12px 19px 16px 21px;
  }

  .learn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                     TWO                                    */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Two {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.74px 1fr 1.74px 1fr;
  background: linear-gradient(transparent, black, black);
  padding: 64px;
  margin-top: -550px;

  .top {
    grid-column-start: 1;
    grid-column-end: 4;

    img {
      width: 100%;
      height: auto;
    }
  }

  .topItem {
    height: 170.18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    position: relative;

    .left {
      height: 9.96px;
      width: 12px;
      position: absolute;
      bottom: -5.8px;
      left: -6px;
    }

    .right {
      height: 9.96px;
      width: 12px;
      position: absolute;
      bottom: -5.8px;
      right: -6px;
    }
  }

  .bottom {
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: 1fr 1.74px 1fr 1.74px 1fr;
    margin-top: 99px;
  }

  .item {
    width: 100%;
    display: block;
    background-color: #fff;
  }

  .card {
    width: 100%;
    padding: 35.84px 68px;

    .title {
      font-size: 22px;
      font-weight: 500;
      margin: 24px 0 12px;
    }

    .subTitle {
      @include p;
      opacity: 0.8;
    }
  }

  .border {
    width: 100%;
    height: 70%;
    display: block;
    background-color: hsla(0, 0%, 100%, 0.12);
  }

  .btop {
    align-self: flex-end;
  }

  .c {
    display: none;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    THREE                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Three {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  text-align: center;
  margin: 215px 0 150px;
  padding: 0 64px;

  .title {
    @include h1;

    span {
      background: linear-gradient(to right, #7f00ff, #fdeff9);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .bottom {
    width: 100%;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    gap: 64px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .title {
        font-size: 24px;
        line-height: 1.7;
        margin: 24px 0 12px;
      }

      .subTitle {
        font-size: 18px;
        line-height: 2;
        opacity: 0.8;
      }
    }
  }
}

@import "./RWD.scss";
