@import "../../styles/Theme.scss";

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.NavBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 44px 64px;

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  a {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
  }
}
