@import "../../styles/Theme.scss";

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.NavBar,
.SideBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 64px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .main,
  .getStarted {
    font-size: 16px;
    color: white;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
  }

  .decoration {
    height: 2px;
    width: 0%;
    display: block;
    background-color: $primary;
    margin-top: 2px;
    transition: width 0.3s ease-in-out;
  }

  .burger {
    background-color: transparent;
    border: none;
    display: none;
  }

  .getStarted {
    width: fit-content;
    border-radius: 5px;
    padding: 5px 8px;
    transition: background-color 0.3s, border-radius 0.3s;
  }

  .getStarted:hover,
  .getStarted:focus {
    background-color: $primary;
  }

  .navLink:hover,
  .navLink:has(> a:focus) {
    .decoration {
      width: 100%;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   SIDEBAR                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.SideBar {
  height: 100vh;
  width: 100%;
  max-width: 300px;
  background-color: black;
  position: fixed;
  left: unset;
  top: 0;
  right: 0;
  border-left: 5px solid #8000ff59;
  z-index: 5;
  display: none;
  padding: 100px 50px 0;
  transform: translateX(0);
  transition: transform 0.3s;
  display: none;

  .links {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8px;
    margin-bottom: 20px;
  }
}

.exit {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  z-index: 3;
}

@import "./RWD.scss";
